.wrapper {
	display: flex;
	flex-direction: row;
	width: fit-content;
	padding: 20px 7% 20px 7%;
	align-items: stretch;
}

.column-header {
	display: flex;
	align-self: center;
}

.icon {
	width: 20px;
}
.button-submit {
	border: none;
	cursor: pointer;
	background-color: transparent;
}
