.wrapper {
	position: fixed;
	display: flex;
	flex-direction: row;
	top: 0;
	left: 0;
	width: 100%;
	height: 43.2px;
	z-index: 1;
	justify-content: space-between;
	background-color: rgb(220, 76, 62);

	&-logo {
		line-height: 43.2px;
		color: white;
		font-weight: 700;
	}
	&-icons {
		display: flex;
		margin-left: 5px;
		align-items: center;

		&-button{
			background-color: transparent;
			align-items: center;
			display: flex;
			justify-content: center;
			cursor: pointer;
			border:none;
			margin-left: 3px;
		}
	}
	
}
svg {
	color:white
}
