* {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.2em;
	font-weight: 300;
}
body {
	background: black;
}

.wrapper {
	margin-top: 43.2px;
	margin-left: 0;
	transition: all 600ms;

	&-sidebar-opened {
		margin-left: 300px;
	}
}
