.t-sidebar {
	width: 300px;
	height: 100%;
	position: fixed;
	top: 43.2px;
	left: 0;
	transform: translateX(-100%);
	transition: ease-in-out 300ms transform;
	background-color: #fafafa;

	&.sidebar-slide-in {
		transform: translateX(0%);
		transition: ease-in-out 600ms transform;
	}
}
li {
	list-style-type: none;
	border-radius: 5px;
	cursor: pointer;
	&:hover {
		background-color: #eee;
	}
}
.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: flex-start;
}

.navigation {
	padding: 30px 18px 0 18px;
	width: calc(100% - 36px);

	&-section {
		width: 100%;
		padding: 0;
		margin: 0;

		&-item {
			display: flex;
			align-items: flex-end;
			margin-bottom: 10px;

			&-image {
				margin-right: 7px;
			}
			&-text {
				font-size: 17px;
				line-height: 18px;
				word-break: break-word;
				padding: 4px 0px 4px 0px;
			}
		}
	}
}
